#op-app {
  --color-text-primary: #000;
  --color-text-secondary: #a4a4a4;
  
  --color-bg-primary: #38383A;
  --color-bg-secondary: #4C4C4E;
  
  --color-surface-primary: #29292B;
  --color-surface-secondary: #18181A;
}
